<nav >
    <div class="nav-wrapper  teal darken-2"  >
      <a  class="brand-logo" href="control">Diamond</a>
      <a   class="nombre">{{ "Bienvenido" |translate}} {{usuario.nombre}}</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="control/modificarUsuario">{{"Usuarios"|translate}}</a></li>
        <li><a href="control/inventario">{{"Inventario"|translate}}</a></li>
        <li><a href="control/ofertas">{{"Ofertas"|translate}}</a></li>
        <li><a href="control/reportes">{{"Reportes"|translate}}</a></li>

        <li><a class="dropdown-trigger"  data-target="idiomas">{{"Idioma" | translate}}<i class="material-icons right">arrow_drop_down</i></a></li>

        <li><a  (click)="logOut()">{{"Salir"|translate}}</a></li>
      </ul>
    </div>
  </nav>

  <ul id="idiomas" class="dropdown-content">
    <li ><a (click)="cambiarIdioma('es')">{{"Español"|translate}}</a></li>
    <li ><a (click)="cambiarIdioma('en')">{{"Inglés"|translate}}</a></li>
  </ul>