<div class="contenedor">

  <div><h1 class="center">{{"Modificar usuarios"|translate}}</h1></div>

  <div class="usuarios-tabla-container">
    <table class="default" *ngIf="usuarios != undefined">
      <tr>
        <th class="center">{{"Foto de perfil"|translate}}</th>
        <th class="center">{{"Nombre"|translate}}</th>
        <th class="center">{{"Usuario"|translate}}</th>
        <th class="center">{{"Correo"|translate}}</th>
        <th class="center">{{"Editar información"|translate}}</th>
        <th class="center">{{"Nueva imagen"|translate}}</th>
      </tr>
      <tr *ngFor="let usuario of usuarios; let i=index">
        <td class="center" width="100">
          <img *ngIf="usuario.foto == 0" src="../../../assets/images/profile.png" class="profile-img">
          <img *ngIf="usuario.foto == 1" [src]="liga + '/' + usuario.idUsuario + '.jpg'" [alt]="liga" class="profile-img">
        </td>
        <td class="center">{{ usuario.nombre }}</td>
        <td class="center">{{ usuario.username }}</td>
        <td class="center">{{ usuario.correo }}</td>
        <td class="center">
          <a href="javascript:void(0)" class="waves-effect waves-light btn" (click)="modificarUsuario(usuario.idUsuario)">
            <i class="material-icons left">edit</i>{{"Editar"|translate}}
          </a>
        </td>
        <td>
          <input type="file" (change)="cargandoImagen($event, usuario.idUsuario)">
        </td>
      </tr>
    </table>
  </div>
</div>

<!-- Modal para modificar usuario -->
<div id="modalModificarusuario" class="modal">
  <div class="modal-content">
    <h4>{{"Modificar usuario"|translate}}</h4>
    <form>
      <div class="inputs-horizontal">
        <div class="input-field">
          <label class="active">{{"Nombre"|translate}}</label>
          <input [(ngModel)]="usuario.nombre" type="text" class="validate">
        </div>
        <div class="input-field">
          <label class="active">{{"Correo"|translate}}</label>
          <input [(ngModel)]="usuario.correo" type="text" class="validate">
        </div>
        <div class="input-field">
          <label class="active">{{"Nombre de usuario"|translate}}</label>
          <input [(ngModel)]="usuario.username" type="text" class="validate">
        </div>
      </div>
      <div class="roles-dropdowns">
        <a class='dropdown-trigger btn' href='#' data-target='dropdown1' *ngIf="roles && idioma=='es'">{{rol.nombreRol}}</a>
        <ul id='dropdown1' class='dropdown-content' *ngIf="idioma=='es'">
          <li *ngFor="let rol of roles">
            <a (click)="modificarRol(rol,usuario)">{{rol.nombreRol}}</a>
          </li>
        </ul>
        <a class='dropdown-trigger btn' href='#' data-target='dropdown2' *ngIf="roles && idioma=='en'">{{rol.nameRol}}</a>
        <ul id='dropdown2' class='dropdown-content' *ngIf="idioma=='en'">
          <li *ngFor="let rol of roles">
            <a (click)="modificarRol(rol,usuario)">{{rol.nameRol}}</a>
          </li>
        </ul>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <a class="modal-close btn-flat" (click)="cancelar()">{{"Cancelar"|translate}}</a>
    <a class="btn red darken-2" (click)="eliminarUsuario(usuario.idUsuario)">{{"Eliminar"|translate}}</a>
    <a class="btn" (click)="guardar()">{{"Modificar"|translate}}</a>
  </div>
</div>
