<div class="contenedor">
  <span class="titulo">{{"Ofertas"|translate}}</span>
  <table class="default" *ngIf="productos != undefined">
    <tr>

      <td class="center">{{"Imagen"|translate}}</td>
      <td>{{"Nombre"|translate}}</td>
      <td>{{"Cantidad"|translate}}</td>
      <td>{{"Precio"|translate}}</td>
      <td>{{"Descuento"|translate}}</td>
      <td>{{"Fecha de inicio"|translate}}</td>
      <td>{{"Fecha de fin"|translate}}</td>
    </tr>
    <tr *ngFor="let producto of productos | paginate: { itemsPerPage: pageSize, currentPage: p }; let i=index">
      <td class="center" [width]="150">
        <img *ngIf="producto.foto == 0" src="../../../assets/images/productoDesconocido.jpeg" style="width: 100px;">
        <img *ngIf="producto.foto == 1" src="{{liga}}/{{producto.idProducto}}.jpg" [alt]="liga" style="width: 100px;">
      </td>
      <td *ngIf="idioma=='es'">{{ producto.nombre }}</td>
      <td *ngIf="idioma=='en'">{{ producto.name }}</td>

      <td>{{ producto.stock }}</td>
      <td>{{ producto.precio }}</td>
      <td>{{ producto.descuento }}</td>
      <td>{{ producto.inicio_descuento }}</td>
      <td>{{ producto.fin_descuento }}</td>
      
    </tr>
  </table>
  <br><br>
  <a class="waves-effect waves-light btn" (click)="enviarOfertas()"><i class="material-icons">send</i> {{"Enviar a Usuarios"|translate}}</a>
  <br><br>
  <div class="row center-align">
    <pagination-controls class="my-pagination" (pageChange)="p = ($event)" previousLabel={{Anterior}} nextLabel={{Siguiente}}></pagination-controls>
  </div>
</div>