<section>
    <div class="divOlvide">
        <img src="../../../assets/images/CUELLO.jpg" alt="Imagen de la empresa" width="1100px">
    </div>
</section>

<section>
    <div class="row center-align">
        <h2 class="titulo">SOBRE NOSOTROS</h2>
    </div>
</section>

<section>
    <div class="row recortado">
        <p class="parrafos">
            Diamond es una propuesta de tienda en línea que busca ofrecer piezas elegantes y modernas
            a través de una plataforma digital funcional y atractiva.
        </p>
        <p class="parrafos">
            Nace con la misión de ofrecer joyería de alta calidad que combine elegancia, diseño contemporáneo y significado personal,
            a través de una experiencia de compra en línea confiable, accesible y personalizada para cada cliente.
        </p>
    </div>
</section>


<section>
    <div class="row center-align">
        <h3 class="titulo">NUESTRA VISION</h3>
    </div>
</section>

<section>
    <div class="row recortado">
        <p class="parrafos">
            Ser la joyería en línea líder en la región, reconocida por su innovación, atención al detalle
            y compromiso con la satisfacción del cliente, creando productos que celebren momentos únicos y perduren en el tiempo.
        </p>
    </div>
</section>

<section>
    <div class="row center-align s12 recortado">
        <div class="col center-align s12">
            <img src="../../../assets/images/bannerf.jpg" width="1100px">
        </div>
    </div>
</section>

<section>
    <div class="row center-align">
        <h3 class="titulo">¿QUE OFRECEMOS?</h3>
    </div>
</section>

<section>
    <div class="row recortado">
        <p class="parrafos">
            Nuestra joyería ofrece piezas elegantes, modernas y atemporales,
            diseñadas para mujeres que desean reflejar su estilo único a través de joyas con propósito y significado.
        </p>
        <p class="parrafos">
            Cada diseño está pensado para realzar la personalidad de quien lo lleva,
            acompañándola con sutileza y carácter en cada etapa de su vida.
        </p>
    </div>
</section>

<section>
    <div class="row center-align s12 recortado">
        <div class="col center-align s4">
            <img src="../../../assets/images/sobre4.jpeg" width="350px">
        </div>
        <div class="col center-align s4">
            <img src="../../../assets/images/sobre3.jpg" width="350px">
        </div>
        <div class="col center-align s4">
            <img src="../../../assets/images/sobre4.png" width="350px">
        </div>
    </div>
</section>

<section>
    <div class="row center-align">
        <h5 class="final">Te invitamos encontrar tu propio estilo en Diamond</h5>
    </div>
</section>