
.cajita{
    width: 300px;
    float: left;
    margin: 10px;
    text-align: center;
    height: 500px;

}   



.oferta-etiqueta {
  background-color: rgb(255, 0, 0);
  padding: 5px 10px;
  border-radius: 50px;
}


.contenedor{
    width: 80%;
    margin: 0 auto;
}
.container {
  margin-bottom: 64px; /* Ajusta el valor según la altura de tu navbar */
}

.nav{
    background: #96c4c4;
}

.nav2{
  background: #ffffff;
}

.nav-wrapper{
    padding-left: 50px;
    padding-top: 6px;
}

.buscar-texto {
    position: absolute;
    top: 50%;
    left: 16px; /* Ajusta este valor según tu diseño */
    transform: translateY(-50%);
    pointer-events: none; /* Evita que el texto "Buscar" sea clickeable */
    color: rgba(0, 0, 0, 0.5); /* Color tenue */
    transition: opacity 0.2s; /* Agrega transición suave */
  }
  
  .input-field {
    position: relative; /* Asegura que el texto "Buscar" se posicione correctamente */
    width: 400px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 30px;
  }
  
  .input-field input[type=search] {
    padding-left: 40px; /* Ajusta el espacio para el icono de búsqueda */
  }
  
  .input-field input[type=search]:focus + .buscar-texto,
  .input-field input[type=search]:focus ~ .buscar-texto {
    opacity: 0; /* Oculta el texto "Buscar" cuando el campo está enfocado */
  }

