.nav-extended {
  background: white;
}

.custom-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.nav-section {
  flex: 1;
  display: flex;
  align-items: center;
}

.center-section {
  justify-content: center;
}

.left-section {
  justify-content: flex-start;
}

.right-section {
  justify-content: flex-end;
}

/* Estilos para el logo */
.brand-logo img {
  height: 110px; 
  width: auto;   
  margin-top: 25px;
  padding: 5px;
}

.search-bar {
  width: 100%;
  max-width: 400px; 
}

.input-field {
  position: relative;
  width: 100%; /* O un valor fijo como 400px */
  height: 50px;
  background-color: #D19E66;
  border-radius: 30px;
  display: flex; 
  align-items: center; 
  padding-left: 10px; 
}

.label-icon {
  color: #D19E66;
  margin-top: -5px;
  margin-right: 10px; /* Espacio entre el icono y el texto */
}

.input-field input[type=search] {
  border: none;
  background: transparent;
  width: 100%;
  height: 100%;
  margin-bottom: -1px;
  margin-left: -25px;
  color: white;
}

/* Estilo para el texto "Buscar" dentro de la barra de búsqueda */
.buscar-texto {
  position: absolute;
  top: 50%;
  left: 40px; 
  transform: translateY(-50%);
  pointer-events: none; 
  color: white;
  transition: opacity 0.2s; 
}

/* Ocultar el texto "Buscar" al enfocar el input */
.input-field input[type=search]:focus + .buscar-texto,
.input-field input[type=search]:focus ~ .buscar-texto {
  opacity: 0;
}

/* Estilos para el elemento lateral */
.lateral {
  width: 700px;
  position: absolute;
  right: 0%;
  top: 0%;
}

/* Cambiar el color del texto general de los enlaces del navbar */
.nav-wrapper a {
  color: #D19E66 !important;
}

input[type=search]:-webkit-autofill {
  box-shadow: 0 0 0px 100px #D19E66 inset !important;
  -webkit-text-fill-color: white !important;
}
input[type=search] {
  border-radius: 30px;
  overflow: hidden;
}