<ul id="dropdown1" class="dropdown-content">
    <li><a href="home/perfil">{{"Mi cuenta"| translate}}</a></li>
    <li><a href="home/usuarioCompras">{{"Mis compras"|translate}}</a></li>
    <li><a (click)="logOut()">{{"Salir"|translate}}</a></li>
</ul>

<ul id="dropdown2" class="dropdown-content">
  <li *ngIf="idioma == 'es'"><a [href]="isHome() ? 'javascript:void(0)' : 'home/'" (click)="Anillos()">Anillos</a></li>
  <li *ngIf="idioma == 'es'"><a [href]="isHome() ? 'javascript:void(0)' : 'home/'" (click)="Aretes()">Aretes</a></li>
  <li *ngIf="idioma == 'es'"><a [href]="isHome() ? 'javascript:void(0)' : 'home/'" (click)="Arracadas()">Arracadas</a></li>
  <li *ngIf="idioma == 'es'"><a [href]="isHome() ? 'javascript:void(0)' : 'home/'" (click)="Esclavas()">Esclavas</a></li>
  <li *ngIf="idioma == 'es'"><a [href]="isHome() ? 'javascript:void(0)' : 'home/'" (click)="Dijes()">Dijes</a></li>
  <li *ngIf="idioma == 'es'"><a [href]="isHome() ? 'javascript:void(0)' : 'home/'" (click)="Collares()">Collares</a></li>
  <li *ngIf="idioma == 'es'"><a [href]="isHome() ? 'javascript:void(0)' : 'home/'" (click)="Todas()">Todas</a></li>

  <li *ngIf="idioma == 'en'"><a [href]="isHome() ? 'javascript:void(0)' : 'home/'" (click)="Anillos()">Earrings</a></li>
  <li *ngIf="idioma == 'en'"><a [href]="isHome() ? 'javascript:void(0)' : 'home/'" (click)="Aretes()">Rings</a></li>
  <li *ngIf="idioma == 'en'"><a [href]="isHome() ? 'javascript:void(0)' : 'home/'" (click)="Arracadas()">Hoop earrings</a></li>
  <li *ngIf="idioma == 'en'"><a [href]="isHome() ? 'javascript:void(0)' : 'home/'" (click)="Esclavas()">Bangles</a></li>
  <li *ngIf="idioma == 'en'"><a [href]="isHome() ? 'javascript:void(0)' : 'home/'" (click)="Dijes()">Pendants</a></li>
  <li *ngIf="idioma == 'en'"><a [href]="isHome() ? 'javascript:void(0)' : 'home/'" (click)="Collares()">Necklaces</a></li>
  <li *ngIf="idioma == 'en'"><a [href]="isHome() ? 'javascript:void(0)' : 'home/'" (click)="Todas()">All</a></li>
</ul>

<ul id="dropdown3" class="dropdown-content idioma-nav">
  <li (click)="setIdioma('es')"><a>{{"Español"|translate}}</a></li>
  <li (click)="setIdioma('en')"><a>{{"Inglés"|translate}}</a></li>

</ul>
  
<ul id="Categorias" class="dropdown-content" *ngIf="categorias!=undefined">
  <li *ngFor="let categoria of categorias"><a>{{categoria.nombre}}</a></li>
</ul>
<div class="navbar-fixed">
  <nav class="nav-extended">
    <div class="nav-wrapper custom-navbar">
      <!-- Logo -->
      <div class="nav-section left-section">
        <a class="brand-logo" href="home">
          <img src="../../../assets/images/logoD.png" alt="Logo de la página">
          DIAMOND
        </a>
      </div>

      <!-- Barra de búsqueda centrada -->
      <div class="nav-section center-section">
        <div class="input-field search-bar">
          <input [(ngModel)]="buscar" type="search" id="search" class="validate" 
                 (input)="Buscar()" (focus)="quitarTexto()" (blur)="restaurarTexto()" required>
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <span *ngIf="!buscar && !campoEnfocado" class="buscar-texto">{{"Buscar" | translate}}</span>
        </div>
      </div>

      <!-- Opciones de menú a la derecha -->
      <div class="nav-section right-section">
        <ul class="right hide-on-med-and-down">
          <li><a class="dropdown-trigger" href="#!" data-target="dropdown2"><i class="material-icons left">drag_handle</i>{{"Categorias" | translate}}</a></li>
          <li><a class="dropdown-trigger" data-target="dropdown3">{{"Idioma" | translate}}<i class="material-icons right">arrow_drop_down</i></a></li>
          <li><a href="home/carrito"><i class="material-icons left">add_shopping_cart</i>{{"Carrito" | translate}}</a></li>
          <li><a [href]="isHome() ? 'javascript:void(0)' : 'home/'" (click)="MostrarOfertas(1)"><i class="material-icons left">local_offer</i>{{"Ofertas" | translate}}</a></li>
          <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">{{"Menú" | translate }}<i class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
