<div class="container email-container">
  <div class="row">
    <div class="col s12 center-align">
      <img src="../../../assets/images/logoD.png" alt="Logo de la página" class="email-logo">
    </div>

    <div class="titulo center-align">
      <span>Correo Electrónico</span>
    </div>

    <form class="col s12" (submit)="enviarCorreo()">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">mail</i>
          <input id="correo" type="text" class="validate" [(ngModel)]="usuario.correo" name="correo" required>
          <label for="correo">Email</label>
        </div>
      </div>

      <div class="center-align">
        <button class="btn custom-btn" type="submit">
          <i class="material-icons left">send</i>Enviar
        </button>
      </div>
    </form>
  </div>
</div>
