<div class="container reset-container">
  <div class="row">
    <div class="col s12 center-align">
      <img src="../../../assets/images/logoD.png" alt="Logo de la página" class="reset-logo">
    </div>

    <div class="titulo center-align">
      <span>Restablezca su contraseña</span>
    </div>

    <form class="col s12" (submit)="enviarPassword()">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">vpn_key</i>
          <input id="password" type="password" class="validate" [(ngModel)]="usuario.password" name="password" required>
          <label for="password">Contraseña nueva</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">vpn_key</i>
          <input id="password1" type="password" class="validate" [(ngModel)]="usuario.password1" name="password1" required>
          <label for="password1">Confirmar contraseña</label>
        </div>
      </div>

      <div class="center-align">
        <button class="btn custom-btn" type="submit">
          <i class="material-icons left">send</i>Confirmar
        </button>
      </div>
    </form>
  </div>
</div>
