<div class="container">
  <div class="row">
    <div class="titulo">
      <span>Restablezca su contraseña</span>
    </div>
      <form class="col s12">
      <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">vpn_key</i>
            <input id="password" type="password" class="validate" [(ngModel)]="usuario.password" name="password">
            <label for="password">Contraseña nueva</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">vpn_key</i>
            <input id="password1" type="password" class="validate" [(ngModel)]="usuario.password1" name="password1">
            <label for="password1">Confirmar contraseña</label>
          </div>
        </div>
        <button class="btn waves-effect waves-light" (click)="enviarPassword()" type="submit" name="action">Confirmar
          <i class="material-icons left">send</i>
        </button>
      </form>
    </div>
          


</div>