.reset-logo {
  height: 180px;
  margin-bottom: 10px;
}

.titulo {
  font-size: 22px;
  color: #3e3e3e;
  margin-bottom: 30px;
  font-family: 'Playfair Display', serif;
}

.custom-btn {
  background-color: #1a1607 !important;
  color: white;
  border-radius: 20px;
  padding: 0 25px;
  font-weight: bold;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.custom-btn:hover {
  background-color: #c09b2f !important;
}

.reset-container {
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 20px 30px;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0px 6px 25px rgba(0, 0, 0, 0.05);
  border: 1px solid #eeeae4;
}
