#direccion{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    border: saddlebrown 1px solid;
    text-align: center;
}

.divOlvide
{
    color: rgb(0, 0, 0);
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background: #D19E66;
}

.pagination{
    background: #D19E66;
}

