body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: #2c2727;
}

.login{
    width: 400px;
    height: 700px;
    padding: 25px;
    border: 2px solid #00f7ef;
    border-radius: 5px;
    background-color: #ffffff;
    text-align: center;
    box-shadow: 0px 0px 10px 0px rgba(255, 252, 252, 0.75);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.titulo{

    font-size: 20px;
    font-weight: bold;
    color: #000;
}

.login img {
  height: 150px; /* Ajusta este valor según el tamaño deseado */
  width: auto;  /* Mantiene la proporción del logo */
}
